/* NAVIGATION BAR */
.topbar 
	{
	color: black;
	width:100%;
	height:100px;
	background:;
	transition: .5s;
	}
.navbar-brand
	{ 
    position: absolute;
    margin-left: 45%;
  	}

/* Centered text */
.centered 
    {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	}



.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

 /* FOOTER */
.instagram
	{
	position: absolute;
	top:100%;
	left:43%;
	}
.facebook
	{
	position: absolute;
	top:99.6%;
	left:48%;
	}
.twitter 
	{
	position: absolute;
	top:100%;
	left:54%;
	}
